@font-face {
    font-family: Panton;
    src: url("../fonts/Panton-BlackCaps.otf");
}

html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
}

body {
    margin: 0;
    padding: 0;
    background: url("../img/bg.png") rgb(8, 8, 16) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Panton;
}


::selection {
    background: #b3d4fc;
    text-shadow: none;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
    transition: all .3s ease-out;
}

.content {
    padding: 80px 0 80px 0;
    text-align: center;
}

.content .img-top img {
    max-width: 220px;
}

.content .img-top img:hover {
    max-width: 280px;
}

.content .contacts {
    padding-top: 80px;
}

.content .contacts a {
    margin: 10px auto;
    display: block;
    background: rgba(255, 255, 255, .05);
    max-width: 320px;
    max-height: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    line-height: 35px;
    font-weight: 700;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.content .contacts a:hover {
    background: rgba(255, 255, 255, .125);
}

.content .contacts a i {
    float: left;
    margin-left: 8px;
    margin-top: 8px;
    vertical-align: middle;
    font-size: 18px;
}

.content .sponsors {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

.content .sponsors a img {
    max-width: 70px;
    height: auto;

    text-align: center;
    margin: 0 auto;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal .container-fluid a {
    display: inline-block;
    position: relative;
    padding: 15px 25px;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    width: auto;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    transition: .3s all;
}

.modal .container-fluid a:hover {
    opacity: .9;
    color: inherit;
}

.modal-content {
    background: transparent;
    border: none;
}

.card {
    border: none;
}

.white {
    background: #fff;
    color: #1d1d1b;
    border: 1px solid rgba(0,0,0,.125);
}

.white:hover {
    background: #f2f2f2!important;
    color: #000000!important;
}

.black {
    background: #1d1d1b!important;
    color: #fff!important;
}

.left {
    float: left;
}

.icons-left {
    position: absolute;
    bottom: 15px;
}

.right {
    float: right;
}

.modal-body p {
    margin: 0;
}

.card-title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media screen and (max-width: 60em) {

    .content .contacts {
        padding-top: 0;
    }

    .card:first-child {
        margin-bottom: 20px;
    }

    .modal .container-fluid a {
        padding: 5px 10px;
    }

    .content {
        padding: 40px 0 80px 0!important;
    }

    .content .contacts a {
        margin: 7px auto;
    }

}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
