body {
        background: url("/src/backgroundDefault.png") no-repeat center center fixed #101520; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
}