body {
        background: url("../src/backgroundDefault.png") no-repeat center center fixed #101520; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#imgReport {
  margin: auto;
  display: block;
  max-width: 100%;
}

#imgBlock{
	margin: auto;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}